{{define "nav"}}
<nav class="bg-brand px-8 h-14 flex items-center">
  <a href="/" class="text-cream no-underline text-3xl font-black text-center mx-auto hover:underline">No Citation Needed</a>
</nav>
{{end}}
